pandas
numpy
transformers
sentence-transformers
chromadb
streamlit
requests
python-dotenv

fastapi==0.111.0
uvicorn==0.29.0
boto3==1.34.0
chromadb==0.5.0
langchain==0.2.0
langchain-community==0.2.0
langchain-aws==0.1.6
pypdf==4.2.0
beautifulsoup4==4.12.3
requests==2.31.0
python-multipart==0.0.9
python-dotenv==1.0.1
tiktoken==0.7.0
